{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Alexgram{% endblock title %}</title>
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
{% endblock head %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

        <a class="navbar-brand" href="{% url 'home_db_url' %}">Home</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span></button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_db_url' %}">Add</a>
            </li>
            {% endif %}
          </ul>
    
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home_db_url' %}">Hello, {{ user }}.</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup_db_url' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log in</a></li>
            {% endif %}
          </ul>
        </div>
    
      </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>